.sass-cache/*
log/*
screenlog.*
*.log
tmp/**/*
tmp/*
.dotest/
.dotest/*.
tmp/.*
tmp/*
tmp/profile*
.DS_Store
uuid.state
nbproject*
index/*
identifier
secret
last_run
.project
.conductor/*
.conductor/**/*
.*.sw?
.#*
\#*
*~
*.swp
rsa_key*
config/*.sphinx.conf
config/environments/test_*.rb
capybara*.html
.bundle/*
*.orig
./assets/
coverage/*
coverage.vim
db_backups/*
sync/*
.idea
