spec/support/asset_server.rb
log/*
screenlog.*
*.log
tmp/**/*
tmp/*
.dotest/
.dotest/*.
tmp/.*
tmp/*
tmp/profile*
.DS_Store
doc/plugins
doc/api
doc/app
doc/*.doc
doc/*.zip
app/assets/stylesheets/scaffolds*
config/initializers/session_secret.rb
config/initializers/smtp.rb
config/initializers/api_keys.rb
config/database.yml
db/schema.sql
db/schema.rb
db/*.sqlite3*
db/migrate/dont_autocomplete
public/stylesheets/*.css
!public/stylesheets/reset.css
public/javascripts/all.js
public/system
public/assets/
uuid.state
nbproject*
index/*
identifier
secret
last_run
.project
.conductor/*
.conductor/**/*
.*.sw?
.#*
\#*
*~
*.swp
vendor/**/**/doc/*
vendor/plugins/footnotes/*
rsa_key*
sphinx/*
db/sphinx/*
config/*.sphinx.conf
system/datas/*
sqldumps/*
config/environments/test_*.rb
capybara*.html
.bundle/*
public/sitemap.xml
*.orig
./assets/
insight.sqlite
tiger-enabled-pgsql.tbz2
coverage/*
coverage.vim
db_backups/*
sync/*
.idea
