%form{ :action => '/solve' }
  .section
    .framed_input.pattern
      %h2 Fill this pattern:
      %input{ :name => 'pattern', :placeholder => 'pattern', :size => 8 }
      %p.comment Enter any letters you already know and use spaces or '_' for empty spots.
    .framed_input.letters
      %h2 With these letters:
      %input{ :name => 'letters', :placeholder => 'letters', :size => 8 }
      %p.comment Letters available to fill spaces with.  You can enter letters more than once.
  %button{ :type => 'submit', :value => 'submit' }
    Search Dictionary!

