%h1 SolveMyWord! &#8212; Find Word Puzzle Solutions
#main
  = haml :form
#sidebar
  %p
    Stuck on Text Twist&trade; or Every Word&trade;?  Stumped on Scrabble&reg;?
    Just want to cheat Mom at Words with  Friends&reg;?? (Yes, you can admit it!).
  %p
    Just enter the letters you have and the spaces to fill in the form to the left,
    and we'll help you out.
  %p
    Note: this handy tool uses publically available spellchecking dictionaries, so
    I don't guarantee that it uses the exact same word list as any particular
    word game.  Coming soon: the ability to change which dictionary you'd like
    to search!

