!!!
%body
  %h1 Solve My Word
  %form{ :action => '/solve' }
    %input{ :name => 'letters', :placeholder => 'letters' }
    %input{ :name => 'pattern', :placeholder => 'pattern' }
    %input{ :type => 'submit' }
